In [1]:
import pandas as pd
import numpy as np

In [2]:
#using pandas to read the csv files
Country=pd.read_csv('C:\\Users\\shash\\OneDrive\\Desktop\\Spring 2023\\DATA 225-Databases\\FinalProjectMaterials\\Source data\\Country.csv')
League=pd.read_csv('C:\\Users\\shash\\OneDrive\\Desktop\\Spring 2023\\DATA 225-Databases\\FinalProjectMaterials\\Source data\\League.csv')
Match=pd.read_csv('C:\\Users\\shash\\OneDrive\\Desktop\\Spring 2023\\DATA 225-Databases\\FinalProjectMaterials\\Source data\\Match.csv')
Player=pd.read_csv('C:\\Users\\shash\\OneDrive\\Desktop\\Spring 2023\\DATA 225-Databases\\FinalProjectMaterials\\Source data\\Player.csv')
Player_Attributes=pd.read_csv('C:\\Users\\shash\\OneDrive\\Desktop\\Spring 2023\\DATA 225-Databases\\FinalProjectMaterials\\Source data\\Player_Attributes.csv')
Team=pd.read_csv('C:\\Users\\shash\\OneDrive\\Desktop\\Spring 2023\\DATA 225-Databases\\FinalProjectMaterials\\Source data\\Team.csv')
Team_Attributes=pd.read_csv('C:\\Users\\shash\\OneDrive\\Desktop\\Spring 2023\\DATA 225-Databases\\FinalProjectMaterials\\Source data\\Team_Attributes.csv')
Match_Attributes=pd.read_csv('C:\\Users\\shash\\OneDrive\\Desktop\\Spring 2023\\DATA 225-Databases\\FinalProjectMaterials\\Source data\\cleaned_goals.csv')

In [3]:
from getpass import getpass
import csv
from mysql.connector import connect, Error
#connecting to MySQL using python and creating a database called emp
def create_database(dbName):
    try:
        with connect(
            host="localhost",
            user=input("Enter username: "),
            password=getpass("Enter password: "),
        ) as connection:
            create_db_query = "CREATE DATABASE IF NOT EXISTS "+dbName+";"
            with connection.cursor() as cursor:
                cursor.execute(create_db_query)
            print(connection)
    except Error as e:
        print(e)

In [4]:
create_database('socceranalysis')

Enter username:  root
Enter password:  ········

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000273B78D57F0>

In [5]:
connection = connect(user='root', password='root',
                              host='localhost',
                              database='socceranalysis')

In [6]:
#insert data into Country table from the csv file
CountryData=[]
for index, row in Country.iterrows():
    temp=[]
    temp.append(row[0])
    temp.append(row[1])
    CountryData.append(tuple(temp))
try:
    #run query
    connection.reconnect();
    mycursor=connection.cursor()
    sql = "INSERT INTO Country (Country_id,name) VALUES (%s, %s);"
    mycursor.executemany(sql, CountryData)
    connection.commit()
except Error as e:
    print('Failed to run the query')
    print(e)
    mycursor.close()

In [7]:
#insert data into League table from the csv file
LeagueData=[]
for index, row in League.iterrows():
    temp=[]
    temp.append(row[0])
    temp.append(row[1])
    temp.append(row[2])
    LeagueData.append(tuple(temp))
try:
    #run query
    connection.reconnect();
    mycursor=connection.cursor()
    sql = "INSERT INTO League (League_id,Country_id,name) VALUES (%s, %s,%s);"
    mycursor.executemany(sql, LeagueData)
    connection.commit()
except Error as e:
    print('Failed to run the query')
    print(e)
    mycursor.close()

In [ ]:
#insert data into Player table from the csv file
PlayerData=[]
for index, row in Player.iterrows():
    temp=[]
    temp.append(row[0])
    temp.append(row[1])
    temp.append(row[2])
    temp.append(row[3])
    temp.append(row[4])
    PlayerData.append(tuple(temp))
try:
    #run query
    connection.reconnect();
    mycursor=connection.cursor()
    sql = "INSERT INTO Player (player_id,player_name,birthday,height,weight) VALUES (%s, %s, %s, %s, %s);"
    mycursor.executemany(sql, PlayerData)
    connection.commit()
except Error as e:
    print('Failed to run the query')
    print(e)
    mycursor.close()

In [ ]:
#insert data into Team table from the csv file
TeamData=[]
for index, row in Team.iterrows():
    temp=[]
    temp.append(row[0])
    temp.append(row[1])
    temp.append(row[2])
    TeamData.append(tuple(temp))
try:
    #run query
    connection.reconnect();
    mycursor=connection.cursor()
    sql = "INSERT INTO team (team_id,team_long_name,team_short_name) VALUES (%s, %s, %s);"
    mycursor.executemany(sql, TeamData)
    connection.commit()
except Error as e:
    print('Failed to run the query')
    print(e)
    mycursor.close()

In [ ]:
#insert data into Player_attributes table from the csv file
Player_attributes_Data=[]
for index, row in Player_Attributes.iterrows():
    temp=[]
    temp.append(row[0])
    temp.append(row[1])
    temp.append(row[2])
    temp.append(row[3])
    temp.append(row[4])
    temp.append(row[5])
    temp.append(row[6])
    temp.append(row[7])
    temp.append(row[8])
    temp.append(row[9])
    temp.append(row[10])
    temp.append(row[11])
    temp.append(row[12])
    temp.append(row[13])
    temp.append(row[14])
    temp.append(row[15])
    temp.append(row[16])
    temp.append(row[17])
    temp.append(row[18])
    temp.append(row[19])
    temp.append(row[20])
    temp.append(row[21])
    temp.append(row[22])
    temp.append(row[23])
    temp.append(row[24])
    temp.append(row[25])
    temp.append(row[26])
    temp.append(row[27])
    temp.append(row[28])
    temp.append(row[29])
    temp.append(row[30])
    temp.append(row[31])
    temp.append(row[32])
    temp.append(row[33])
    temp.append(row[34])
    temp.append(row[35])
    temp.append(row[36])
    temp.append(row[37])
    temp.append(row[38])
    temp.append(row[39])
    temp.append(row[40])
    Player_attributes_Data.append(tuple(temp))
try:
    #run query
    connection.reconnect();
    mycursor=connection.cursor()
    sql = "INSERT INTO player_attributes VALUES (%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s);"
    mycursor.executemany(sql, Player_attributes_Data)
    connection.commit()
except Error as e:
    print('Failed to run the query')
    print(e)
    mycursor.close()

In [ ]:
#insert data into team_attributes table from the csv file
team_attributes_Data=[]
for index, row in Team_Attributes.iterrows():
    temp=[]
    temp.append(row[0])
    temp.append(row[1])
    temp.append(row[2])
    temp.append(row[3])
    temp.append(row[4])
    temp.append(row[5])
    temp.append(row[6])
    temp.append(row[7])
    temp.append(row[8])
    temp.append(row[9])
    temp.append(row[10])
    temp.append(row[11])
    temp.append(row[12])
    temp.append(row[13])
    temp.append(row[14])
    temp.append(row[15])
    temp.append(row[16])
    temp.append(row[17])
    temp.append(row[18])
    temp.append(row[19])
    temp.append(row[20])
    temp.append(row[21])
    temp.append(row[22])
    temp.append(row[23])
    team_attributes_Data.append(tuple(temp))
try:
    #run query
    connection.reconnect();
    mycursor=connection.cursor()
    sql = "INSERT INTO team_attributes VALUES (%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s, %s, %s);"
    mycursor.executemany(sql, team_attributes_Data)
    connection.commit()
except Error as e:
    print('Failed to run the query')
    print(e)
    mycursor.close()

In [ ]:
#insert data into match table from the csv file
match_Data=[]
for index, row in Match.iterrows():
    temp=[]
    temp.append(row[0])
    temp.append(row[1])
    temp.append(row[2])
    temp.append(row[3])
    temp.append(row[4])
    temp.append(row[5])
    temp.append(row[6])
    temp.append(row[7])
    temp.append(row[8])
    temp.append(row[9])
    temp.append(row[10])
    temp.append(row[11])
    temp.append(row[12])
    temp.append(row[13])
    temp.append(row[14])
    temp.append(row[15])
    temp.append(row[16])
    temp.append(row[17])
    temp.append(row[18])
    temp.append(row[19])
    temp.append(row[20])
    temp.append(row[21])
    temp.append(row[22])
    temp.append(row[23])
    temp.append(row[24])
    temp.append(row[25])
    temp.append(row[26])
    temp.append(row[27])
    temp.append(row[28])
    temp.append(row[29])
    temp.append(row[30])
    temp.append(row[31])
    temp.append(row[32])
    temp.append(row[33])
    temp.append(row[34])
    temp.append(row[35])
    temp.append(row[36])
    temp.append(row[37])
    temp.append(row[38])
    temp.append(row[39])
    temp.append(row[40])
    temp.append(row[41])
    temp.append(row[42])
    temp.append(row[43])
    temp.append(row[44])
    temp.append(row[45])
    temp.append(row[46])
    temp.append(row[47])
    temp.append(row[48])
    temp.append(row[49])
    temp.append(row[50])
    temp.append(row[51])
    temp.append(row[52])
    temp.append(row[53])
    temp.append(row[54])
    temp.append(row[55])
    temp.append(row[56])
    temp.append(row[57])
    temp.append(row[58])
    temp.append(row[59])
    temp.append(row[60])
    temp.append(row[61])
    temp.append(row[62])
    temp.append(row[63])
    temp.append(row[64])
    temp.append(row[65])
    temp.append(row[66])
    temp.append(row[67])
    temp.append(row[68])
    temp.append(row[69])
    temp.append(row[70])
    match_Data.append(tuple(temp))
try:
    #run query
    connection.reconnect();
    mycursor=connection.cursor()
    sql = "INSERT INTO match VALUES (%s, %s, %s,%s, %s, %s,%s, %s, %s,%s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s,%s, %s, %s,%s, %s, %s,%s, %s, %s,%s,%s);"
    mycursor.executemany(sql, match_Data)
    connection.commit()
except Error as e:
    print('Failed to run the query')
    print(e)
    mycursor.close()

In [14]:
Match_Attributes = Match_Attributes.astype(object).replace(np.nan, 'None')

#insert data into match_attributes table from the csv file
match_attributes_Data=[]
for index, row in Match_Attributes.iterrows():
    temp=[]
    temp.append(row[1])
    temp.append(row[2])
    temp.append(row[3])
    temp.append(row[4])
    temp.append(row[5])
    match_attributes_Data.append(tuple(temp))
try:
    #run query
    connection.reconnect();
    mycursor=connection.cursor()
    sql = "INSERT INTO match_attributes (match_api_id,goals,shoton,penalties,subtype) VALUES (%s, %s, %s,%s, %s);"
    mycursor.executemany(sql, match_attributes_Data)
    connection.commit()
except Error as e:
    print('Failed to run the query')
    print(e)
    mycursor.close()